---
interface Props {
    name: string;
    description: string;
    status?: string;
    url?: string;
}

const { name, description, status, url } = Astro.props as Props;
---

{
    url ? (
        <a href={url}>
            {name}
            {status && <span class="project-status"> ({status})</span>}
        </a>
    ) : (
        <span>
            {name} {status && <span class="project-status"> ({status})</span>}
        </span>
    )
}

<p>
    {description}
</p>

<style>
    * {
        font-size: larger;
    }
    a {
        color: var(--pico-color-purple-350);
        text-decoration: none;
    }

    a:hover {
        color: var(--pico-color-purple-200);
    }

    .project-status {
        color: var(--pico-color-indigo-400);
    }
</style>
